<div class="callout callout--primary">
	<div class="grid gird--1x2">
		<div class="callout__content">
			<h2 class="callout__heading">Ready to get started</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ea
				suscipit dolores aperiam exercitationem ut hic nostrum in iusto. Iste
				quibusdam totam dolor molestiae repellendus quidem vel odit eaque.
				Dolorum!
			</p>
		</div>
		<a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
	</div>
</div>
